<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alunos.prodapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/prod"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/prod"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuLateralActivity" />
        </activity>
        <activity android:name=".TelaDeCadastro">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuLateralActivity" />
        </activity>
        <activity android:name=".TelaDeConfiguracaoDeSilo"
            android:label="Meus Silos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuLateralActivity" />
        </activity>
        <activity android:name=".TelaCadastroSilos"
            android:label="Meus Silos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListaSilos" />
        </activity>
        <activity android:name=".ListaUsuarios">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuCentral" />
        </activity>
        <activity android:name=".ListaSilos"
            android:label="Meus Silos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuCentral" />
        </activity>
        <activity
            android:name=".MenuLateralActivity"
            android:label="@string/title_activity_menu_lateral"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TelaDeLogin" />
        </activity>
        <activity android:name=".TelaDeLogin">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuLateralActivity" />
        </activity>
        <activity android:name=".TelaDeGerenciamentoDeSilo"
            android:label="Meus Silos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SiloPrincipal" />
        </activity>
        <activity android:name=".TelaDeDetalhesDoSilo"
            android:label="Meus Silos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SiloPrincipal" />
        </activity>
        <activity android:name=".TelaEpocaDeArroz">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuLateralActivity" />
        </activity>
        <activity android:name=".TelaEpocaDeSoja">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuLateralActivity" />
        </activity>
        <activity android:name=".TelaEpocaDeTrigo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuLateralActivity" />
        </activity>
        <activity android:name=".TelaEpocaDeMilho">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuLateralActivity" />
        </activity>
        <activity android:name=".TelaEpocasDePlantacao">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuLateralActivity" />
        </activity>
        <activity android:name=".MenuCentral">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SiloPrincipal"
                  android:label="Meus Silos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListaSilos" />
        </activity>
        <activity android:name=".PragaSoja1"
            android:label="Pragas da Soja">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SubMenuPragas" />
        </activity>
        <activity android:name=".PragaSoja2"
            android:label="Pragas da Soja">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SubMenuPragas" />
        </activity>
        <activity android:name=".SubMenuPragas"
            android:label="Pragas">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuCentral" />
        </activity>
        <activity android:name=".PragaMilho1"
            android:label="Pragas do Milho">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SubMenuPragas" />
        </activity>
        <activity android:name=".PragaMilho2"
            android:label="Pragas do Milho">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SubMenuPragas" />
        </activity>
        <activity android:name=".PragaArroz1"
            android:label="Pragas do Arroz">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SubMenuPragas" />
        </activity>
        <activity android:name=".PragaArroz2"
            android:label="Pragas do Arroz">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SubMenuPragas" />
        </activity>
    </application>

</manifest>